<footer class="footer footer--black">
    <div class="footer__wrapper">
        <p>It is published under <a class="footer__textlink" href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons
                Attribution 4.0 International Public License</a> and can therefore be shared and adapted with
            attribution ("INNOQ").</p>
        <p><a class="footer__textlink" href="https://www.innoq.com/en/impressum/">Imprint</a></p>
        <p class="footer__subtitle"> Made and maintained by </p>
        <a href="https://www.innoq.com">
            <img class="footer__logo" src="{{ site.baseurl }}/lib/img/innoq-logo--white.svg" alt="INNOQ Logo" />
        </a>
        <a class="footer__textlink" href="https://www.innoq.com/en/datenschutz"> Privacy Policy </a>
    </div>
</footer>
