<footer class="footer footer--black">
    <div class="footer__wrapper">
        <p class="footer__subtitle"> The content of this site was created by Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        <p class="footer__subtitle"> Made and maintained by </p>
        <a href="https://www.innoq.com">
            <img class="footer__logo" src="/lib/img/innoq-logo--white.svg" alt="INNOQ Logo" />
        </a>
        <a class="footer__textlink" href="https://www.innoq.com/en/datenschutz"> Privacy Policy </a>
    </div>
</footer>
