<header class="landingpage-header">
    <div class="landingpage-header__wrapper">
        <h1 class="landingpage-header__title">Architecture Antipatterns</h1>
        <p class="landingpage-header__subtitle">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
            Lorem
            Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        <img src="/lib/img/aa-visual-header.svg" alt="Architecture Antipattern Keyvisual"
            class="landingpage-header__keyvisual" />
    </div>
</header>
