<header class="landingpage-header">
    <div class="landingpage-header__wrapper">
        <h1 class="landingpage-header__title">Architecture Antipatterns</h1>
        <p class="landingpage-header__subtitle">Discover common architecture antipatterns, learn how to avoid them and overcome design pitfalls! Gain valuable insights, practical advice, and real-world examples to build better software architectures and improve existing ones.</p>
        <img src="{{ site.baseurl }}/lib/img/aa-visual-header.svg" alt="Architecture Antipattern Keyvisual"
            class="landingpage-header__keyvisual" />
    </div>
</header>
