<nav class="main-navigation" role="navigation">
    <a href="{{ site.baseurl }}/" class="brand-link">
        <img src="{{ site.baseurl }}/lib/img/aa-logo.svg" alt="Architecture Antipatterns Logo" class="brand-logo" />
        <span class="link-alt">Architecture Antipatterns Website</span>
    </a>
    <menu-toggle hidden>
        <button>Menü</button>
    </menu-toggle>
    <ul class="navigation-links" role="list" aria-label="Seitennavigation">
        <li>
            <sub-menu>
                <details>
                    <summary>
                        <a class="button" href="https://github.com/innoq/architecture-antipatterns">Contribute on GitHub</a>
                    </summary>
                </details>
            </sub-menu>
        </li>
        <li>
            <sub-menu>
                <details>
                    <summary>
                        Antipatterns
                    </summary>
                    <ul role="list" aria-label="Antipatterns Untermenü">
                        {% for pattern in site.patterns %}
                        <li><a href="{{ site.baseurl }}{{ pattern.url }}">{{ pattern.title }}</a></li>
                        {% endfor %}
                    </ul>
                </details>
            </sub-menu>
        </li>
        <li>
            <sub-menu>
                <details>
                    <summary>
                        Case Studies
                    </summary>
                    <ul role="list" aria-label="Case Studies Untermenü">
                        {% for study in site.case_studies %}
                        <li><a href="{{ site.baseurl }}{{ study.url }}">{{ study.title }}</a></li>
                        {% endfor %}
                    </ul>
                </details>
            </sub-menu>
        </li>
    </ul>
</nav>
