<section id="author-section" class="stripe stripe--purple">
    <div class="landingpage-teaser-section__wrapper">
        <h2 class="landingpage-teaser-section__title landingpage-teaser-section__title--white">Maintainers</h2>
        <div class="landingpage-teaser-section__grid">
            <div class="author__card">
                <div class="author-card__header">
                    <img src="lib/img/christian-jacobs-ava.webp" alt="Avatar Felix Schumacher" class="author-card__avatar" />
                    <h3 class="author-card__title">Christian Jacobs</h3>
                    <p class="author-card__twitterhandle">@christian_on_twitter</p>
                </div>
                <div class="author-card__body">
                    <p class="author-card__text">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem
                        psum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    </p>
                </div>
            </div>
            <div class="author__card">
                <div class="author-card__header">
                    <img src="lib/img/theo-pack-ava.webp" alt="Avatar Theo Pack" class="author-card__avatar" />
                    <h3 class="author-card__title">Theo Pack</h3>
                    <p class="author-card__twitterhandle">@theo_on_twitter</p>
                </div>
                <div class="author-card__body">
                    <p class="author-card__text">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem
                        psum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem
                        Ipsum
                    </p>
                </div>
            </div>
            <div class="author__card">
                <div class="author-card__header">
                    <img src="lib/img/felix-schumacher-ava.webp" alt="Avatar Felix Schumacher" class="author-card__avatar" />
                    <h3 class="author-card__title">Felix Schumacher</h3>
                    <p class="author-card__twitterhandle">@felix_on_twitter</p>
                </div>
                <div class="author-card__body">
                    <p class="author-card__text">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem
                        psum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem
                        Ipsum
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
