<section id="author-section" class="stripe stripe--purple">
    <div class="landingpage-teaser-section__wrapper">
        <h2 class="landingpage-teaser-section__title landingpage-teaser-section__title--white">Maintainers</h2>
        <div class="landingpage-teaser-section__grid">
            <div class="author__card">
                <div class="author-card__header">
                    <img src="lib/img/christian-jacobs-ava.webp" alt="Avatar Felix Schumacher" class="author-card__avatar" />
                    <h3 class="author-card__title">Christian Jacobs</h3>
                    <p class="author-card__twitterhandle"><a href="https://innoq.social/@cj">@cj@innoq.social</a></p>
                </div>
                <div class="author-card__body">
                    <p class="author-card__text">
                        Christian is a Consultant at INNOQ. He is a backend developer with a huge interest in architecture, distributed systems, software fault tolerance and algorithms.
                    </p>
                </div>
            </div>
            <div class="author__card">
                <div class="author-card__header">
                    <img src="lib/img/theo-pack-ava.webp" alt="Avatar Theo Pack" class="author-card__avatar" />
                    <h3 class="author-card__title">Theo Pack</h3>
                    <p class="author-card__twitterhandle"><a href="https://twitter.com/furikuri">@furikuri</a></p>
                </div>
                <div class="author-card__body">
                    <p class="author-card__text">
                        Theo is a Senior Consultant at INNOQ and has been working in software development for 10+. He is passionate about cloud-native applications, distributed systems, domain-driven design, DevOps and agile software development.
                    </p>
                </div>
            </div>
            <div class="author__card">
                <div class="author-card__header">
                    <img src="lib/img/felix-schumacher-ava.webp" alt="Avatar Felix Schumacher" class="author-card__avatar" />
                    <h3 class="author-card__title">Felix Schumacher</h3>
                    <p class="author-card__twitterhandle"><a href="https://twitter.com/ch4inl3ss">@ch4inl3ss</a></p>
                </div>
                <div class="author-card__body">
                    <p class="author-card__text">
                        Felix is a Senior Consultant at INNOQ. He likes to deal with IT security, test-driven development and the operation and further development of existing systems.
                    </p>
                </div>
            </div>
            <div class="author__card">
                <div class="author-card__header">
                    <img src="lib/img/andreas-voigt-ava.png" alt="Avatar Andreas Voigt" class="author-card__avatar" />
                    <h3 class="author-card__title">Andreas Voigt</h3>
                    <p class="author-card__twitterhandle"><a href="https://www.linkedin.com/in/andreas-voigt-0a855b11/">LinkedIn</a></p>
                </div>
                <div class="author-card__body">
                    <p class="author-card__text">
                        Andreas is Principal Software Architect at adesso SE. He is a JVM veteran, multilingual developer and pragmatic software architect. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
