<section id="teaser-antipatterns" class="stripe stripe--grey">
    <div class="landingpage-teaser-section__wrapper">
        <h2 class="landingpage-teaser-section__title landingpage-teaser-section__title--purple">Antipatterns</h2>
        <div class="landingpage-teaser-section__grid">
            
            

            
            <div class="teaser-card teaser-card--purple">
                <div class="teaser-card__body">
                    <h3 class="teaser-card__title">Misattachment</h3>
                    <p class="teaser-card__text">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                        Lorem Ipsum
                        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                        Lorem Ipsum</p>
                </div>
                <div class="teaser-card__footer teaser-card_footer--purple">
                    <a class="teaser-card__button teaser-card__button--purple" href="https://www.innoq.com">Read
                        more</a>
                </div>
            </div>
            
        </div>
    </div>
</section>