@font-face {
  font-family: 'Roboto Flex';
  font-stretch: 25% 151%;
  font-weight: 100 1000;
  src: url('../lib/fonts/RobotoFlex.woff2') format('woff2-variations');
}

* {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Flex', sans-serif;
}
